.thumbnail img{
	width:100%;
}

.thumbnail{
	padding:0;
}

.thumbnail .caption-full{
	padding:9px;
}

.delete-form{
	display:inline;
}

#search1{
	width:11.3em;
	display:inline;
}
#search{
	float:left;
	display:inline;
	margin-left:0;
	padding-right:0;
}